body {
  background-image: url(https://www.lexalytics.com/images/extra/sentiment1@2x.png);
  background-size: 50% 80%; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  padding: 50px;
  font: 14px "oblique", Helvetica, Arial, sans-serif;
}



